body{
    margin: 0;
    padding: 0; 
   
}

.container{
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns:80% 20%;
}
.item{
    display: grid;
    background-color: lightblue;
}

.header{
    grid-auto-rows: minmax(50px,50px );
}

.main{

    grid-column-start: 2;
    grid-column-end: -1;
    grid-row: 1/3;
    grid-auto-rows: minmax(300px,400px );
   
    
}

.footer{

    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-auto-rows: minmax(50px,50px );
}
