div {
   
   
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
  }
  p{
      text-align: center;
  }
  img{
      height: 150px;
  }

  /* .image-center {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
   */


  button{
      color: red;
  }
